@import url("//at.alicdn.com/t/font_2603470_bz8p00zl61.css");

:root {
  --primary: #4084fb;
  --primary-weak: #669dfc;
  --primary-seri: #3a77e2;
  --info: #262626;
  --info-weak: #8c8c8c;
  --danger: #f56c6c;
  --danger-weak: #fde2e2;
}

body {
  background-color: #f7f7f7;
  color: #262626;
  font-size: 14px;
}

@media (max-width: 768px) {
  html {
    font-size: 13.3333333vw;
  }

  body {
    font-size: 0.28rem;
    background-color: #fff;
  }
}

input {
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  padding: 0 8px;
  transition: 0.1s;
  outline: none;
}

input[type="text"]:hover,
input[type="password"]:hover {
  border-color: #bfbfbf;
}

input[type="text"]:focus,
input[type="password"]:focus {
  border-color: var(--primary);
}

.button {
  padding: 0 8px;
  height: 36px;
  background-color: var(--primary);
  cursor: pointer;
  border-radius: 4px;
  color: #fff;
  transition: 0.1s;
  display: inline-flex;
  align-items: center;
}

.button:hover {
  background-color: var(--primary-weak);
}

.button:active {
  background-color: var(--primary-seri);
}

.button.plain {
  background-color: transparent;
  border: 1px solid var(--primary-weak);
  color: var(--primary);
}

input[type="checkbox"] {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: none;
  outline: none;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  background-image: url("../images/checkbox-off.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  cursor: pointer;
}

input[type="checkbox"]:checked {
  background-image: url("../images/checkbox-on.png");
}

.ps-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  word-break: break-all;
}

/* 自定义scrollbar */
/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
.scrollbar::-webkit-scrollbar {
  width: 8px;
}

/*定义滚动条轨道 内阴影+圆角*/
.scrollbar::-webkit-scrollbar-track {
  /* -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
  border-radius: 10px; */
  background-color: #fff;
}

/*定义滑块 内阴影+圆角*/
.scrollbar::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
  background-color: #d9d9d9;
}

html,
body,
#root,
.app-wrapper {
  height: 100%;
  min-height: 400px;
}

.app-wrapper {
  display: flex;
  flex-direction: column;
}

.app-inner-wrapper {
  flex: 1;
  overflow: hidden;
}

.app-inner-wrapper > div {
  height: 100%;
}
