/* 过期 */
.m-over-container {
  margin-top: 2.33rem;
}

.m-over-container .m-over-img-wrapper {
  width: 3.71rem;
  height: 2rem;
  margin: 0 auto;
}

.m-over-container p {
  text-align: center;
  color: #969799;
  margin-top: 0.48rem;
}
