.m-colle-wrapper {
  display: flex;
  flex-direction: column;
}

.m-control-wrapper {
  display: flex;
  height: 1.24rem;
  align-items: center;
  padding: 0 0.24rem;
  background-color: #fff;
  /* position: sticky;
  left: 0;
  top: 0; */
}

.no-check-state-wrapper span {
  color: #969799;
  font-size: 0.24rem;
  margin-left: 0.36rem;
}

.check-state-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.check-state-wrapper .check-state-info {
  font-size: 0.32rem;
}

.check-state-wrapper .check-state-cancel {
  color: #969799;
}

.check-state-wrapper .check-state-all {
  color: #576b95;
}

.check-state-info i {
  color: var(--primary);
}

.m-colle-list-wrapper {
  padding: 0 0.24rem 0 0.24rem;
  flex: 1;
  overflow-x: hidden;
  overflow-y: auto;
}

.m-file-item-wrapper {
  display: flex;
  align-items: center;
  height: 1.28rem;
}

.m-file-item-wrapper + .m-file-item-wrapper {
  border-top: 1px solid #ebedf0;
}

.m-file-item-wrapper .m-file-image {
  width: 0.72rem;
  height: 0.72rem;
  margin-right: 0.16rem;
}

.m-file-item-wrapper .m-file-check {
  width: 0.66rem;
  height: 0.32rem;
  text-align: right;
}

.m-file-item-wrapper .m-file-main {
  height: 0.72rem;
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.m-file-main p {
  font-size: 0.24rem;
  color: #969799;
}

.m-file-main p span + span {
  margin-left: 0.24rem;
}

.blank-wrapper {
  height: 0.8rem;
  background-color: #f0f2f5;
}

/* 文件路径 */
.m-colle-bread-wrapper {
  display: flex;
  align-items: center;
  font-size: 0.24rem;
  color: #c8c9cc;
  white-space: nowrap;
  overflow: hidden;
}

.m-colle-bread-wrapper .iconfont {
  font-size: 0.24rem;
  width: 0.42rem;
  display: inline-block;
  text-align: center;
}

.m-colle-bread-wrapper .m-colle-back-btn {
  display: flex;
  align-items: center;
}

.m-colle-bread-wrapper .m-colle-back-btn::after {
  content: "";
  margin: 0 0.16rem;
  height: 0.27rem;
  width: 1px;
  background-color: var(--info-weak);
  display: inline-block;
  position: relative;
  top: -1px;
}

.m-colle-bread-wrapper .m-colle-back-btn i {
  font-size: 0.28rem;
}

.m-colle-bread-list-wrapper span:last-child {
  color: #323232;
}

.m-colle-bread-list-wrapper span:last-child i {
  color: #c8c9cc;
}

.m-player-video-wrapper {
  width: 100vw;
  height: 100vh;
  background-color: #000;
  position: fixed;
  top: 0;
  left: 0;
}

.m-plyr-inner-wrapper {
  width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.m-player-video-wrapper .player-video-close {
  position: absolute;
  right: 10px;
  top: 10px;
  color: #fff;
}
