.colle-list-wrapper .file-info {
  width: 57%;
  display: flex;
  align-items: center;
}

.colle-list-wrapper .file-size {
  width: 28%;
  display: flex;
  align-items: center;
}

.colle-list-wrapper .file-share-time {
  width: 15%;
  white-space: nowrap;
}

.colle-list-wrapper input[type="checkbox"] {
  margin: 0 6px 0 24px;
}

.colle-view-wrapper {
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.colle-control-wrapper {
  height: 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 48px;
  background-color: #fff;
  border-top: 1px solid #e5e5e5;
}

.colle-control-wrapper .colle-control-left {
  display: flex;
  align-items: center;
}

.colle-control-wrapper .colle-control-left .share-failure-sum {
  margin-right: 14px;
}

.colle-control-left .share-failure-title {
  color: var(--info-weak);
  display: inline-flex;
  align-items: center;
}

.colle-control-left .share-failure-title i {
  margin-right: 4px;
}

.colle-control-left .share-failure-state {
  color: var(--danger);
}

.colle-control-right .button i {
  margin-right: 4px;
}

/* 文件面包屑导航 */
.colle-list-wrapper {
  flex: 1;
  overflow: hidden;
  padding: 16px 48px 0 48px;
}

.colle-list-inner {
  height: 100%;
  background-color: #fff;
  padding: 0 24px 24px 24px;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: auto;
  box-sizing: border-box;
}

.colle-bread-wrapper {
  display: flex;
  height: 60px;
  align-items: center;
  padding-left: 24px;
}

.colle-bread-wrapper > * {
  cursor: pointer;
}

.colle-bread-wrapper .colle-back-btn,
.colle-bread-wrapper .colle-all-btn {
  color: var(--info-weak);
  display: flex;
  align-items: center;
}

.colle-bread-wrapper .colle-back-btn::after {
  content: "";
  margin: 0 18px;
  height: 14px;
  width: 1px;
  background-color: var(--info-weak);
  display: inline-block;
}

.colle-bread-wrapper .colle-back-btn i {
  margin-right: 4px;
}

.colle-bread-list-wrapper {
  margin-left: 8px;
  display: flex;
  align-items: center;
}

.colle-bread-list-wrapper span {
  display: flex;
  align-items: center;
  color: var(--info-weak);
}

.colle-bread-list-wrapper span i {
  display: inline-block;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  margin-right: 4px;
  font-size: 12px;
  color: var(--info-weak);
}

.colle-bread-list-wrapper span:last-child {
  color: #323232;
}

/* 选中文件 */
.colle-check-wrapper {
  height: 48px;
  background-color: #f7f7f7;
  display: flex;
  align-items: center;
  color: rgba(0, 0, 0, 0.85);
}

.colle-check-wrapper .check-sum {
  margin-right: 8px;
}

.colle-check-wrapper .check-sum span {
  color: var(--primary);
  padding: 0 3px;
}

.all-download-btn {
  height: 32px !important;
  width: 52px;
}

.file-list-wrapper {
  flex: 1;
  overflow-x: hidden;
  overflow-y: auto;
}

.file-item-wrapper {
  display: flex;
  height: 56px;
  align-items: center;
  border-bottom: 1px solid #f0f0f0;
}

.file-item-wrapper > div {
  display: flex;
}

.file-item-wrapper .file-info .file-icon {
  width: 32px;
  height: 32px;
  margin-right: 8px;
}

.file-item-wrapper .file-info .file-icon i {
  font-size: 30px;
  color: #4d97ff;
}

.file-item-wrapper .file-info .file-name {
  flex: 1;
  padding-right: 20px;
}

.file-item-wrapper .file-info .file-name span {
  cursor: pointer;
}

.file-item-wrapper:hover {
  background-color: #f7faff;
}

.file-item-wrapper .file-size .file-download-btn {
  display: none;
  cursor: pointer;
}

.file-item-wrapper:hover .file-download-btn {
  display: block;
}

.file-download-btn i {
  color: var(--primary);
}

.file-item-wrapper .file-size span:first-child {
  width: 56%;
}

/* 定义视频弹窗内容 */
.player-video-wrapper {
  width: 500px;
  position: fixed;
  right: 50px;
  bottom: 50px;
}

.player-video-wrapper .player-video-close {
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 100;
  cursor: pointer;
  user-select: none;
}

.player-image-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: #000 no-repeat center/contain;
}

.player-image-wrapper .player-image-close {
  position: absolute;
  right: 20px;
  top: 20px;
  user-select: none;
  cursor: pointer;
}

.player-preview-wrapper img {
  max-width: 100%;
  max-height: 100%;
  min-width: 50%;
  min-height: 50%;
  object-fit: none;
}

.player-music-wrapper {
  position: fixed;
  right: 48px;
  top: 48px;
  width: 500px;
  display: none;
}

.player-music-wrapper .player-music-close {
  color: #fff;
  position: absolute;
  top: 6px;
  right: 6px;
  cursor: pointer;
  z-index: 100;
}

.player-video-wrapper .player-video-close i,
.player-image-wrapper .player-image-close i,
.player-music-wrapper .player-music-close i {
  color: #a6a6a6;
  font-size: 18px;
}

.p-music-fixed-wrapper {
  width: 320px;
  height: 600px;
  position: absolute;
  right: 0;
  top: 0;
}
